[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/kubernetes/kubernetes
After=network.target
After=etcd.service
[Service]
EnvironmentFile=-/config
EnvironmentFile=-/kube-apiserver
ExecStart=/kube-apiserver  \
    ${KUBE_LOGTOSTDERR}         \
        ${KUBE_LOG_LEVEL}           \
        ${KUBE_ETCD_SERVERS}        \
        ${KUBE_API_ADDRESS}         \
        ${KUBE_API_INSECURE_ADDRESS} \
        ${KUBE_API_PORT}            \
        ${NODE_PORT}                \
        ${KUBE_ADVERTISE_ADDR}      \
        ${KUBE_ALLOW_PRIV}          \
        ${KUBE_SERVICE_ADDRESSES}   \
        ${KUBE_ADMISSION_CONTROL}   \
        ${KUBE_API_CLIENT_CA_FILE}  \
        ${KUBE_API_TLS_CERT_FILE}   \
        ${KUBE_API_TLS_PRIVATE_KEY_FILE} \
        ${KUBE_SERVICE_ACCOUNT_KEY_FILE} \
        ${KUBE_AUTHORIZATION_MODE}  \
        ${KUBE_TOKEN_AUTH_FILE}     \
        ${KUBE_BASIC_AUTH_FILE}     \
        ${KUBE_BOOTSTRAP_TOKEN_AUTH} \
        ${KUBE_LOG_DIR} \
        ${KUBE_API_ARGS}
Restart=on-failure
[Install]
WantedBy=multi-user.target
